@mixin transition($prop : all, $time-duration : .6s, $type: ease) {
  -webkit-transition: $prop $time-duration $type;
  -moz-transition: $prop $time-duration $type;
  -ms-transition: $prop $time-duration $type;
  -o-transition: $prop $time-duration $type;
  transition: $prop $time-duration $type;
}

@mixin font($type: $font__main, $style: normal) {
  font-family: $type;
  font-style: $style;
}

