@mixin transition($prop : all, $time-duration : .6s, $type: ease) {
  -webkit-transition: $prop $time-duration $type;
  -moz-transition: $prop $time-duration $type;
  -ms-transition: $prop $time-duration $type;
  -o-transition: $prop $time-duration $type;
  transition: $prop $time-duration $type;
}

@mixin font($type: $font__main, $style: normal) {
  font-family: $type;
  font-style: $style;
}

@mixin blur($blur : 5px) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

@mixin border-radius($radius : 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin general-button() {
  font-family: $regular;
  font-size: $font__size;
  @include transition();
  height: $button__height;
  line-height: $button__height;
  background: $color__background-button;
  color: $color__button;
  border: 0;
  display: inline-block;
  padding: 0 20px;
  margin-right: 7px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50px;
  &:hover {
    color: #fff;
    background: $color__background-button-hover;
    text-decoration: none;
  }
}

@mixin filter-button($checked : 'false') {
  @if $checked == 'true' {
    background: transparent;
    border: 2px solid $brand-secundary;
    color: $color-white;
    background: $brand-secundary;
    padding: 8px;
    min-width: 35px;
    text-align: center;
    @include transition();
    cursor: pointer;
  } @else {
    background: transparent;
    border: 2px solid $brand-secundary;
    color: $brand-secundary;
    padding: 8px;
    min-width: 35px;
    text-align: center;
    @include transition();
    cursor: pointer;
    &:hover {
      color: $color-white;
      background: $brand-secundary;
    }
  }
}