
// Imports of all fonts

// Proxima Nova Bold
@font-face { font-family: ProximaNovaBold; src: url('fonts/MarkSimonson-ProximaNovaBold.ttf'); }
@font-face { font-family: ProximaNovaBold; src: url('fonts/MarkSimonson-ProximaNovaBold.eot'); }
@font-face { font-family: ProximaNovaBold; src: url('fonts/MarkSimonson-ProximaNovaBold.woff'); }

// Proxima Nova ExtraBold
@font-face { font-family: ProximaNovaExtraBold; src: url('fonts/MarkSimonson-ProximaNovaExtrabold.ttf'); }
@font-face { font-family: ProximaNovaExtraBold; src: url('fonts/MarkSimonson-ProximaNovaExtrabold.eot'); }
@font-face { font-family: ProximaNovaExtraBold; src: url('fonts/MarkSimonson-ProximaNovaExtrabold.woff'); }

// Proxima Nova Light
@font-face { font-family: ProximaNovaLight; src: url('fonts/MarkSimonson-ProximaNovaLight.ttf'); }
@font-face { font-family: ProximaNovaLight; src: url('fonts/MarkSimonson-ProximaNovaLight.eot'); }
@font-face { font-family: ProximaNovaLight; src: url('fonts/MarkSimonson-ProximaNovaLight.woff'); }

// Proxima Nova Regular
@font-face { font-family: ProximaNovaRegular; src: url('fonts/MarkSimonson-ProximaNovaRegular.ttf'); }
@font-face { font-family: ProximaNovaRegular; src: url('fonts/MarkSimonson-ProximaNovaRegular.eot'); }
@font-face { font-family: ProximaNovaRegular; src: url('fonts/MarkSimonson-ProximaNovaRegular.woff'); }